@font-face {
    font-family: 'Eight One';
    src: url('../../../public/fonts/Eight-One.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../../../public/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../../../public/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../public/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../../../public/fonts/OpenSans-SemiBold.ttf');
}
